/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");

/* Custom properties */
:root {
  --light-color: #fff;
  --light-color-alt: #afb6cd;
  --primary-background-color: #131417;
  --secondary-background-color: #252830;
  --color-primary: #ffd500;
  --color-secondary: #2465ff;
  --color-primary-darker: #f5df1f;
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);
  --gradient-color: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  --transparent-light-color: rgba(255, 255, 255, 0.05);
  --transparent-dark-color: rgba(0, 0, 0, 0.75);
  --font-family: "Poppins", sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--light-color-alt);
  background-color: var(--primary-background-color);
  letter-spacing: 1px;
  transition: background-color 0.25s, color 0.25s;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}
.nav-logo img{
  text-decoration: none!important;
  width: 150px;
}

navbar{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

i {
  font-size: var(--font-size-md);
}
/* Theme color change */
body.light-theme {
  --light-color: #3d3d3d;
  --light-color-alt: rgba(0, 0, 0, 0.6);
  --primary-background-color: #fff;
  --secondary-background-color: #f1f1f1;
  --hover-light-color: #fff;
  --transparent-dark-color: var(--secondary-background-color);
  --transparent-light-color: rgba(0, 0, 0, 0.1);
}
/* Reusable classes */
.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.section:not(.featured-articles) {
  padding-block: 5rem;
}

.d-grid {
  display: grid;
}

.screen-sm-hidden {
  display: none;
}

.title {
  color: var(--light-color);
}

.article:hover .article-data-container {
  background-color: var(--hover-dark-color);
  color: var(--hover-light-color);
}

.article:hover .article-data-spacer {
  background-color: var(--hover-light-color);
}

.article:hover .article-title {
  color: var(--hover-light-color);
}

.article-data {
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: var(--font-size-xsm);
  margin-bottom: 1rem;
}

.article-data-spacer {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--light-color-alt);
  transform: rotate(45deg);
}
/* Header */
.header {
  background-color: var(--secondary-background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.nav__logo {
  /* height: 4.5rem; */
  /* height: 2.5rem; */
  font-size: 3rem;
  font-family: "Balsamiq Sans", cursive !important;
  transition: all 0.3s;
  background: -webkit-linear-gradient(#e2bf0e, #ffe561);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
}

.nav__logo .stem {
  background: -webkit-linear-gradient(#2465ff, #4874da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  position: absolute;
  top: 8.5rem;
  right: 1.5rem;
  width: 23rem;
  padding: 1.5rem;
  background-color: var(--color-primary-darker);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s ease-in;
}

.list {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.menu > .list {
  flex-direction: column;
}

.list-link.current {
  color: var(--light-color);
}

.close-menu-icon {
  display: none;
}

.btn {
  cursor: pointer;
}

.list-link:hover,
.btn:hover,
.btn:hover span {
  color: var(--light-color);
}

.moon-icon {
  display: none;
}

.light-theme .sun-icon {
  display: none;
}

.light-theme .moon-icon {
  display: none;
}
/* Header JavaScript Styles */
.header.activated {
  box-shadow: 0 1px 0.5rem var(--transparent-light-color);
}

.menu.activated {
  box-shadow: 1px 1px 1rem var(--transparent-light-color);
  opacity: 1;
  transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon {
  display: none;
}

.menu-toggle-icon.activated .close-menu-icon {
  display: block;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  /* color: white; */
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn:hover,
.dropbtn2:hover {
  color: var(--hover-light-color);
}

/* .navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: red;
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  border: 1px solid black;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: none;
}

.dropdown-icon {
  display: none !important;
}

@media screen and (min-width: 1024px) {
  /* .dropdown-content {
    display: block;
  } */

  .show {
    display: block;
  }

  .dropdown-icon {
    display: inline !important;
  }
}

@media screen and (min-width: 1025px) {
  .list-link--btn:link,
  .list-link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    color: #222;
  }

  .list-link--btn:hover,
  .list-link--btn:active {
    color: inherit;
    background-color: var(--color-primary-darker);
    color: #333;
  }
}

/* Search */
.search-form-container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: var(--primary-background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.form-container-inner {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}

.form-input,
.form-btn {
  display: inline-block;
  outline: none;
  border: 2px solid var(--secondary-background-color);
  padding: 1.5rem;
  color: var(--light-color-alt);
}

.form-input {
  border-right: none;
  width: 100%;
  background-color: var(--primary-background-color);
}

.form-btn {
  margin-left: -0.5rem;
  border-left: none;
  background-color: var(--secondary-background-color);
  text-transform: uppercase;
  width: 8rem;
}

.form-note {
  font-size: var(--font-size-xsm);
  align-self: flex-end;
}

.form-close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 2px solid var(--secondary-background-color);
  width: 4rem;
  height: 4rem;
  display: flex;
}

/* Form JavaScript styles */
.search-form-container.activated {
  opacity: 1;
  transform: scale(1);
}

/* Blog post */
.section-header-offset {
  margin-top: 7.4rem;
}

.d-grid {
  display: grid;
}

.blog-post {
  padding-bottom: 5rem;
}

.blog-post-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 2.5rem;
}

.blog-post-title {
  font-size: clamp(3rem, 5vw, 6rem);
}

.blog-post-data .article-data {
  margin-bottom: 2.5rem;
}

.blog-post-data img {
  width: 100%;
  height: var(--item-min-height-sm);
  object-fit: cover;
  object-position: center 10%;
}

.blog-post-container .container {
  max-width: 90rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.quote {
  background-color: var(--secondary-background-color);
  padding: 2.5rem;
}

.quote p {
  font-style: italic;
}

.quote span {
  font-size: 5rem;
}

.author {
  margin-top: 5rem;
  gap: var(--gap);
}

.author {
  background-color: var(--secondary-background-color);
}

.author-image-box {
  position: relative;
  height: var(--item-min-height-sm);
}

.author-about {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.author-name {
  color: var(--light-color);
  font-weight: 400;
}

.author-about p {
  max-width: 50rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.author-about .social-media {
  margin-top: auto;
  margin-bottom: 0;
}

.article-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s;
}

/* Footer */
/* .footer {
  background-color: var(--secondary-background-color);
}

.footer-container {
  gap: var(--gap);
}

.company-data {
  display: flex;
  flex-direction: column;
  order: 1;
}

.company-description {
  margin-block: var(--margin-sm);
  max-width: 75%;
}

.social-media {
  margin-bottom: var(--margin-md);
}

.copyright-notice {
  opacity: 0.8;
}

.footer-list {
  flex-direction: column;
  align-items: flex-start;
}

.footer-title {
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  margin-bottom: var(--margin-sm);
} */

.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer h2{

  text-align: center;
}

.footer p{

  text-align: center;
  color: #666;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}
.copyright{
  font-size: 1.9rem !important;
} 

@media screen and (min-width: 700px) {
  .author {
    grid-template-columns: 25rem 1fr;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .company-data {
    order: 0;
  }
}

@media screen and (min-width: 768px) {
  .blog-post-data img {
    height: var(--item-min-height-md);
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    position: static;
    width: initial;
    padding: initial;
    background-color: transparent;
    opacity: 1;
    transform: scale(1);
  }

  .menu > .list {
    flex-direction: row;
  }

  .screen-lg-hidden {
    display: none;
  }

  .screen-sm-hidden {
    display: block;
  }

  /* .sign-up-btn {
    padding: 4px;
  } */

  .footer-container {
    grid-template-columns: repeat(5, 1fr);
  }

  .company-data {
    grid-column: span 2;
  }

  .company-description {
    max-width: 85%;
  }

  .copyright-notice {
    margin-top: auto;
  }

  .blog-post-data img {
    height: 40rem;
  }
}
